### List

In [23]:
a=[1,2,3]
a[2]=5
print(a[2])

5

In [4]:
names=["sara","mary","sam"]
print(names[-1]) #count from back

sam

In [5]:
names=["sara","mary","sam","john"]
print(names[1:]) #index1 until the end

['mary', 'sam', 'john']

In [6]:
names=["sara","mary","sam","john"]
print(names[1:3]) #index1 until 3 (not include index3)

['mary', 'sam']

### append

In [1]:
a=[1,2,3]
b=[4,3]
# variable.append >> add value to the list (only the last position of index)
b.append(5)
print(b)

[4, 3, 5]

### insert

In [2]:
a=[1,2,3]
a.insert(0,5)## insert is method to add number >>(index that want to add,number that want to add)
print(a)

[5, 1, 2, 3]

### remove

In [1]:
a=[2,7,5,3]
a.remove(5)## remove the number in list
print(a)

[2, 7, 3]

### clear

In [3]:
a=[2,6,4,3]
a.clear()## remove all number in list
print(a)

[]

### pop

In [6]:
a=[4,2,7,3]
a.pop()## remove the last in the list
print(a)

[4, 2, 7]

### count

In [7]:
a=[3,7,2,5,3]
print(a.count(3))

2

### sort & reverse

In [13]:
a=[5,2,7,4,1]
a.sort() ## sort number in order
a.reverse() ## reverse order of number
print(a)

[7, 5, 4, 2, 1]

### copy

In [1]:
a=[3,1,7,4,6]
b=a.copy()
print(b)

[3, 1, 7, 4, 6]

### Tuple

In [93]:
a=(1,2,3)
# a[2]=5 #cannot write (read only)
a

(1, 2, 3)

In [16]:
a, b = ("first", "second") # destructure
a, b

('first', 'second')

### len

In [72]:
a = [1,2,3,4]
len(a)

4

### type

In [12]:
print( type("string type 2"))
print( type(1))
print( type(1.1))

<class 'str'>
<class 'int'>
<class 'float'>

In [18]:
#str >> stringเป็นตัวหนังสือหรือตัวเลขก็ได้ //ต้องใส่ "" ''
#int>> integerเป็นจำนวนเต็ม
#float >> จำนวนทศนิยม

('12', 3, '12')

In [22]:
"1"+"2"

'12'

In [23]:
1+2

3

In [24]:
"1"+str(2)

'12'

In [26]:
a=1+0.6
print(int(a)) ## need result in integer

1

### For vs While

In [45]:
a = 0
a += 2 ## = a = a+2
print(a)

2

In [46]:
a = 0
while a<5:
    print(a)
    a += 1
    
## while loop shows repeat number based on condition

0
1
2
3
4

In [47]:
a = [4,9,2]
for i in a:
    print(i)
    
## for loop shows number in list or tuple

4
9
2

### enumerate

In [95]:
a = [10,11,12]
for index,value in enumerate(a):
    print(index, value)

0 10
1 11
2 12

### function

In [98]:
# declare function
def my_function():
    print("*** my function ***")
    
# call function
my_function()
my_function()

*** my function ***
*** my function ***

In [101]:
def my_function(a):
    print("my function with ", a)
my_function(1)
my_function(2)

my function with  1
my function with  2

In [102]:
def my_function(a):
    c = a + 2
    return c

value = my_function(1)
print(value)

3

In [108]:
def add_array(a, b):
    c = []
    for index,value in enumerate(a):
        c_value = a[index]+b[index]
        c.append(c_value)
    return c

add_array([1,2,3], [4,5,6])

[5, 7, 9]

In [3]:
a = [10,11,12]
b = [83,45,22]
c = []
for index,value in enumerate(a):
    c_value = a[index]+b[index]
    c.append(c_value)
    print('c_value:', c_value,'c:',c)
c

c_value: 93 c: [93]
c_value: 56 c: [93, 56]
c_value: 34 c: [93, 56, 34]

[93, 56, 34]

### Condition
!= คือ ไม่เท่ากับ

In [71]:
1!=2, 2>=2, 2<=2

(True, True, True)

### TODO
- function
- scope

In [117]:
def count_to_zero(numb):
    temp = ""
    while numb>=0:
        temp = temp + str(numb)
        numb = numb-1
    return temp
a = count_to_zero(5)
a

'543210'

In [106]:
a = "5"
a = a+"4"
a

'54'

In [88]:
a = 6
temp = ""
while a!=0:
    a = a-1
    temp = temp + str(a)

    
print(temp)

543210

In [132]:
a = 0            
while a < 5:    
    a = a + 1    
    print(a)

1
2
3
4
5

In [131]:
def count_to_numb(numb):
    a=0
    temp = ""
    while a<=numb:
        temp = temp + str(a)
        a = a+1
    return temp
a = count_to_numb(5)
a

'012345'

### range

In [8]:
for x in range (4): ##0-3
    for y in range(3): ##0-2
        print(x,y)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2

In [2]:
for x in range (4):
    for y in range(3):
        print(f"{x,y}")

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)

### unpacking

In [4]:
coordinate=(4,5,2) ## can do both (),[]
x,y,z=coordinate ## x=[1],y=[2],z=[3]
print(y)

5

### dictionary

In [14]:
customer={                  ##{} is dictionnary
    "name":"John Smith",
    "age":"30",
    "is_verified":True
}
print(customer["name"]) ## or print(customer.get(name))

John Smith

In [16]:
customer={              
    "name":"John Smith",
    "age":"30",
    "is_verified":True
}
customer["birthdate"]="22 Feb 1988" ## update info in dict
print(customer["birthdate"])

22 Feb 1988